<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="API_URL" value="http://localhost:9090/api/" />
    <add key="API_KEY" value="23ce956f40c358cee585e25b20a756547bf6f9be" />
    <add key="PRINTER_ID" value="ID001" />
    <add key="MQTT_SERVER" value="203.162.94.41" />
    <add key="MQTT_BASE_TOPIC" value="/IN-CSB1/DEVICE/FACTORY/TEST/" />
    <add key="MQTT_TOPIC_INLKNK" value="/test" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Latest_ID" value="-1" />
    <add key="LatestDbSyncTime" value="2017-03-08" />
    <add key="DbSyncInterval" value="2" />
    <add key="AllowDbSync" value="false" />
    <add key="AppConfig" value="BarCode_Print.exe.config" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
<connectionStrings><add name="erpEntities" connectionString="metadata=res://*/App_Data.erpModel.csdl|res://*/App_Data.erpModel.ssdl|res://*/App_Data.erpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=erp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>